*.pt
*.png
*.jpg
*.txt
*.zip
*.csv
**/*.png
**/*.jpg
.vscode/**
computer_vision/yolo/**
c_cpp_properties.json
computer_vision/data_generation/labels/
computer_vision/data_generation/models/
computer_vision/data_generation/images/
computer_vision/data_generation/valid/
computer_vision/data_generation/train/
computer_vision/data_generation/valid/labels/
computer_vision/data_generation/valid/models/
computer_vision/data_generation/valid/images/
computer_vision/data_generation/roboflowset/valid/
computer_vision/data_generation/roboflowset/train/
computer_vision/data_generation/roboflowset/test/
computer_vision/data_generation/LabBlocks/
computer_vision/data_generation/dataset/**
computer_vision/data_generation/dataset/*
computer_vision/data_generation/dataset/runs
computer_vision/data_generation/dataset/runs/** 
computer_vision/data_generation/runs/** 
computer_vision/data_generation/genenv
computer_vision/data_generation/MacroBlock*
computer_vision/scripts/yolo*
computer_vision/data_generation/yaml
!CMakeLists.txt
.vscode/settings.json
cpp/launch/simulation.launch
models
models/**
models/**/*
computer_vision/**/*.pt
computer_vision/data_generation/blender_render.log
computer_vision/data_generation/LastTryGen.py
computer_vision/data_generation/tav_vers.blend
computer_vision/data_generation/tav_vers.blend1
computer_vision/data_generation/dataset/train/labels.cache
computer_vision/data_generation/dataset/valid/labels.cache
.vscode/settings.json
