*.pt
*.png
*.jpg
*.txt
*.zip
*.csv
**/*.png
**/*.jpg
.vscode/**
computer_vision/yolo/**
c_cpp_properties.json
computer_vision/data_generation/labels/
computer_vision/data_generation/models/
computer_vision/data_generation/images/
computer_vision/data_generation/valid/
computer_vision/data_generation/train/
computer_vision/data_generation/valid/labels/
computer_vision/data_generation/valid/models/
computer_vision/data_generation/valid/images/
computer_vision/data_generation/roboflowset/valid/
computer_vision/data_generation/roboflowset/train/
computer_vision/data_generation/roboflowset/test/
computer_vision/data_generation/LabBlocks/
computer_vision/data_generation/dataset/**
computer_vision/data_generation/dataset/*
computer_vision/data_generation/dataset/runs
computer_vision/data_generation/genenv
computer_vision/data_generation/MacroBlock*
computer_vision/scripts/yolo*
computer_vision/data_generation/yaml
!CMakeLists.txt
.vscode/settings.json
cpp/launch/simulation.launch
models/*.sdf
models/X1-Y4-Z2/X1-Y4-Z2-silhouette.sdf
*.sdf
models/X1-Y1-Z2/X1-Y1-Z2-silhouette.sdf
models/X1-Y1-Z2/X1-Y1-Z2.sdf
models/X1-Y2-Z2/X1-Y2-Z2-silhouette.sdf
models/X1-Y2-Z2-CHAMFER/X1-Y2-Z2-CHAMFER-silhouette.sdf
models/X1-Y2-Z2-TWINFILLET/X1-Y2-Z2-TWINFILLET-silhouette.sdf
models/X1-Y3-Z2/X1-Y3-Z2-silhouette.sdf
models/X1-Y3-Z2-FILLET/X1-Y3-Z2-FILLET-silhouette.sdf
models/X1-Y4-Z1/X1-Y4-Z1-silhouette.sdf
models/X1-Y4-Z2/X1-Y4-Z2-silhouette.sdf
computer_vision/**/*.pt
computer_vision/data_generation/blender_render.log
