*.pt
*.png
*.jpg
*.txt
*.zip
*.csv
**/*.png
**/*.jpg
computer_vision/yolo/**
c_cpp_properties.json
./computer_vision/data_generation/labels/
./computer_vision/data_generation/models/
./computer_vision/data_generation/images/
./computer_vision/data_generation/valid/
./computer_vision/data_generation/train/
./computer_vision/data_generation/valid/labels/
./computer_vision/data_generation/valid/models/
./computer_vision/data_generation/valid/images/
./computer_vision/data_generation/roboflowset/valid/
./computer_vision/data_generation/roboflowset/train/
./computer_vision/data_generation/roboflowset/test/
./computer_vision/data_generation/LabBlocks/
./computer_vision/data_generation/dataset/**
./computer_vision/data_generation/dataset/*
