<?xml version="1.0" ?>

<launch>
    <arg name="assignement" default="2" />


    <rosparam command="load" file="$(env HOME)/ros_ws/src/locosim/RoboticsProject/cpp/launch/area.yaml" />

    <node name="lego_0" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.82   -y 0.57 -z 0.925 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y1-Z2/X1-Y1-Z2.sdf -model 0 -sdf" />
    <node name="silhouette_0" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.82  -y 0.57 -z 0.87 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y1-Z2/X1-Y1-Z2-silhouette.sdf -model 1 -sdf" />
    <node name="lego_1" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.92   -y 0.67 -z 0.925 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y2-Z2-CHAMFER/X1-Y2-Z2-CHAMFER.sdf -model 3 -sdf" />
    <node name="silhouette_1" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.82  -y 0.57 -z 0.87 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y2-Z2-CHAMFER/X1-Y2-Z2-CHAMFER-silhouette.sdf -model 4 -sdf" />
    
    <!--
        <node pkg="robot_project" name="FSM_ass$(arg assignement)" type="FSM_ass$(arg assignement)" output="screen" />
    -->
</launch>