<?xml version="1.0" ?>

<launch>
    <arg name="assignement" default="2" />


    <rosparam command="load" file="$(env HOME)/ros_ws/src/locosim/RoboticsProject/cpp/launch/area.yaml" />


    <node name="lego_0" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.225   -y 0.44 -z 0.87 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y1-Z2/X1-Y1-Z2.sdf -model 0 -sdf" />
    <node name="lego_1" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.30   -y 0.65 -z 0.87 -Y 1.57 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y2-Z2/X1-Y2-Z2.sdf -model 1 -sdf" />
    <node name="lego_2" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.32  -y 0.3 -z 0.87  -Y 0.85 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y3-Z2/X1-Y3-Z2.sdf -model 2 -sdf" />
    <node name="lego_3" pkg="gazebo_ros" respawn="false" type="spawn_model" args="-x 0.375   -y 0.7 -z 0.87  -Y 0.4 -file $(env HOME)/ros_ws/src/locosim/RoboticsProject/models/X1-Y4-Z1/X1-Y4-Z1.sdf -model 3 -sdf" /> 
    
    <!-- <node pkg="robot_project" name="FSM_Main" type="FSM_Main" output="log" /> -->
    <node pkg="computer_vision" name="yoloNode" type="yoloNode" />
    <node pkg="computer_vision" name="detect" type="detect.py" />
</launch>